<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jxsun.mybatis.mapper.custom.UserCustomMapper" >

    <select id="list" resultMap="com.jxsun.mybatis.mapper.gen.UserMapper.BaseResultMap">
        select
        <include refid="com.jxsun.mybatis.mapper.gen.UserMapper.Base_Column_List" />
        from user
    </select>

    <select id="queryByCondition" resultMap="com.jxsun.mybatis.mapper.gen.UserMapper.BaseResultMap" parameterType="com.jxsun.service.param.QueryUserCondition">
        select
        <include refid="com.jxsun.mybatis.mapper.gen.UserMapper.Base_Column_List" />
        from user

        <where>
            <if test="likeName != null and likeName != ''">
                <bind name="likeName" value="'%' + likeName + '%'"/>
                and name like #{likeName}
            </if>

            <if test="eqName != null">
                or name in
                <foreach item="e" index="i" open="(" separator="," close=")" collection="eqName">
                    #{e}
                </foreach>
            </if>
        </where>

    </select>

</mapper>