<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:config>
        <!-- 声明切面 -->
        <aop:aspect id="myAspect" ref="xmlBean">

            <!-- 声明切入点 aop.service包下的所有包所有类所有方法 -->
            <aop:pointcut id="pointCut" expression="execution(* com.jxsun.aop.service.*.*(..))" />

            <!-- 通知类型 -->
            <aop:before method="doBefore" pointcut-ref="pointCut" />

        </aop:aspect>

    </aop:config>

    <bean id="xmlBean" class="com.jxsun.aop.XmlBean"></bean>

    <bean class="com.jxsun.aop.service.XmlService"></bean>

</beans>